<h1>EMPLOYEE DETAILS</h1>
<div class="details">
    <div>
        <label>FIRST NAME:</label>{{employees.firstName}}
    </div>
    <div>
        <label>LAST NAME:</label>{{employees.lastName}}
    </div>
    <div>
        <label>DATE OF BIRTH:</label>{{employees.dob}}
    </div>
    <div>
        <label>DEPARTMENT:</label>{{employees.department}}
    </div>
    <div>
        <label>EMAIL ADDRESS:</label>{{employees.emailId}}
    </div>
    <div>
        <label>MOBILE NUMBER:</label>{{employees.mobileNo}}
    </div>
</div>