.login-block{  
    width:100%;
    padding : 50px 30px 50px 30px;
    background:#2dabd4; border-radius: 10px; width: 30%; height: 60%;
    position:relative;
}
  .block{
    margin-left:35%; 
    width: 100%;
}
.heading{
text-align: center;
margin-top: 2%;
margin-bottom: 2%;
font-size: larger;
font-weight: bolder;
color: #0088cb;
  }
